@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(255, 255, 255);
  background: rgb(203, 10, 10);
  background: linear-gradient(
    56deg,
    rgba(203, 10, 10, 1) 0%,
    rgba(255, 0, 138, 1) 50%,
    rgba(145, 0, 255, 1) 100%
  );
  margin: 0;
  padding: 0;
}

::selection {
  background-color: rgb(212, 212, 216);
  color: rgb(24, 24, 27);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b5b5b5;
}
